@model noticiasAuto.Models.Pilotos

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger" role="alert" style='font-weight:bold;'>
    Deseja mesmo eliminar o Piloto  @Html.DisplayFor(model => model.Nome)?
</div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>

            <a href="~/Imagens/@Model.Fotografia" target="_blank">
                <img src="~/Imagens/@Model.Fotografia" class="rounded" height="300" width="400" />
            </a>
        </dd>

    </dl>
    <script>
        function macFunction(x) {
            $("#item_view").modal();
        };
        $(document).ready(function () {
            $("#success-alert").hide();
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript:return ConfirmMessageBox();" @Html.DisplayFor(model => model.Nome) ? />
            @Html.ActionLink("Back to List", "Index")


        </div>
    }

    <script>
        function ConfirmMessageBox() {
            var result = confirm("Pretende mesmo eliminar o piloto @Html.DisplayFor(model => model.Nome)?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }

/**/</script>


</div>
