@model noticiasAuto.Models.Pilotos

@{
    ViewBag.Title = "Details";
}


<div class="alert alert-warning" role="alert">
    <h1>Detalhes do Piloto:</h1> @Html.DisplayFor(model => model.Nome)
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome da Equipa:
            @*Html.DisplayNameFor(model => model.Equipa.Nome)*@
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Equipa.Nome)
        </dd>

        <dt>
            Nome do Piloto
            @*Html.DisplayNameFor(model => model.Nome)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Data de Nascimento:
            @*Html.DisplayNameFor(model => model.DataNascimento)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            Fotografia do Piloto:
            @*Html.DisplayNameFor(model => model.Fotografia)*@
        </dt>
        <br</br>

        <a href="~/Imagens/@Model.Fotografia" target="_parent">
            <img src="~/Imagens/@Model.Fotografia" class="rounded" height="300" width="400" />
        </a>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Piloto", "Edit", new { id = Model.IdPiloto }) |
    @Html.ActionLink("Eliminar Piloto", "Delete", new { id = Model.IdPiloto }) |

    @Html.ActionLink("´Voltar para Lista de Pilotos", "Index")
</p>
