@model noticiasAuto.Models.Pilotos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pilotos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <a href="~/Imagens/@Model.Fotografia" target="_blank">
            <img src="~/Imagens/@Model.Fotografia" height="75" />
        </a>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Piloto", "Edit", new { id = Model.IdPiloto }) |
    @Html.ActionLink("Eliminar Piloto", "Delete", new { id = Model.IdPiloto }) |

    @Html.ActionLink("Back to List", "Index")
</p>
