@model IEnumerable<noticiasAuto.Models.Pilotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Piloto", "Create")

</p>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
           @*<th>
                Equipa
            </th>*@
            <th>
                Nome do Piloto
            </th>

            <th>
                Nacionalidade do Piloto
            </th>
            <th>
                Fotografia
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
<tr>
    @*
        <td>
            @Html.DisplayFor(modelItem => item.Equipa.Nome)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
    @*
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                <a href="~/imagens/@item.Fotografia" target="_blank">
                    <img src="~/imagens/@item.Fotografia" width="150" height="75" />
                </a>
            </td>
            <td>
                @*Html.ActionLink("Editar", "Edit", new { id = item.IdPiloto }) |*@
                @Html.ActionLink("Detalhes Do Piloto", "Details", new { id = item.IdPiloto }) 
                @*Html.ActionLink("Delete", "Delete", new { id = item.IdPiloto })*@
            </td>
        </tr>
        }

</table>
