@model noticiasAuto.Models.Noticias

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />

    <div>
        <a href="~/imagens/@Model.Fotografia" target="_blank">
            <img class="img-responsive" style="max-height:300px; margin:0 auto; " src="~/imagens/@Model.Fotografia" />
        </a>
    </div>
    <br />
    <h2 style="font-weight:bold">@Model.Titulo</h2>
    <p style="font-size: 16px; text-align: justify;">@Model.Conteudo</p>
    <br />
    <p>Autor da notícia: @Model.Utilizadores.Nome</p>

</div>


<h4>Comentários:</h4>
@foreach (var comentarios in Model.ListaDeComentarios)
{
        //ADICIONAR DATA DE COMENTARIO
    <h6>@comentarios.Utilizador.Nome </h6>
    <p>@comentarios.Conteudo</p>
    <hr />

}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdNoticia }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
