@model IEnumerable<noticiasAuto.Models.Noticias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    @foreach (var noticias in Model)
    {
        @*<div class="col-lg-4 page-header" style="text-align: center; justify-content: center">
                <div class="panel panel-default" style="height:250px; width:350px;">
                    <div class="panel-body">
                        <a href="@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})">
                            <h5>@noticias.Titulo</h5>
                        </a>
                        <a href="~/imagens/@noticias.Fotografia" target="_blank">
                            <img src="~/imagens/@noticias.Fotografia" height="150" width=100% />
                        </a>
                    </div>
                </div>
            </div>*@



        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card border-0 shadow" style="height:250px; width:350px;">
                <a href="~/imagens/@noticias.Fotografia" target="_blank"> <img  src="~/imagens/@noticias.Fotografia" alt="" style="align-content:center"  height=70% width=100%   > </a>
                <div class="card-body">
                    <h6 class="card-title mb-0">
                        <a href="@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})">
                            <h5>@noticias.Titulo</h5>
                        </a>
                    </h6>
               </div>
            </div>
        </div>

        @*<div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <a href="~/imagens/@noticias.Fotografia" target="_blank">
                    <img src="~/imagens/@noticias.Fotografia" class="card-img-top" alt="..." height=250px;>
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">
                        <a href="@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})">
                            <h4>@noticias.Titulo</h4>
                        </a>
                    </h5>
                </div>
            </div>
        </div>*@
    }
</div>