@model noticiasAuto.Models.Equipas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create",
                      "equipas",
                      FormMethod.Post,
                      new { enctype = "multipart/form-data" }
                      ))
{@Html.AntiForgeryToken()

<script>
    function funcao1() {
        alert("Equipa Criada!");
    }
</script>


<div class="form-horizontal">
    <h4>Equipas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            Nome da Equipa:
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            Data de Fundação:
            <input class="form-control" type="date" style="width:160px" name="DataFundacao" min="1900-01-01" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" max=@DateTime.Now.ToString("yyyy-MM-dd") />

            @Html.ValidationMessageFor(model => model.DataFundacao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            Logotipo da Equipa:
            <input type="file"
                   name="fileUploadFotografia"
                   style="color:blue;"
                   accept=".jpg" />
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-10">
            Fundador
            @Html.EditorFor(model => model.Fundador, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fundador, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            Nacionalidade:
            @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar Equipa" class="btn btn-success" onclick="funcao1()" />        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
