@model noticiasAuto.Models.Equipas

@{
    ViewBag.Title = "Delete";
}

    <div class="alert alert-danger" role="alert" style='font-weight:bold;'>
        Deseja mesmo eliminar a equipa  @Html.DisplayFor(model => model.Nome)?
    </div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nome:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                Data de Fundação:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataFundacao)
            </dd>

            <dt>
                    Sede:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidade)
            </dd>

            <dt>
                Fundador da equipa:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fundador)
            </dd>

            <dt>
                Logotipo:
            </dt>

            <dd>
                <a href="~/Imagens/@Model.Logo" target="_blank">
                    <img src="~/Imagens/@Model.Logo" class="rounded" height="150" width="200" />
                </a>
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript:return ConfirmMessageBox();" @Html.DisplayFor(model => model.Nome) ? />               
        @Html.ActionLink("Voltar para a Lista de Equipas", "Index")
    </div>

            <script>
        function ConfirmMessageBox() {
            var result = confirm("Pretende mesmo eliminar a equipa @Html.DisplayFor(model => model.Nome)?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }

/**/</script>
        }
    </div>
