@model noticiasAuto.Models.Equipas

@{
    ViewBag.Title = "Details";
}

    <div class="alert alert-warning" role="alert">
        <h1>Detalhes da Equipa:</h1> @Html.DisplayFor(model => model.Nome)
    </div>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Nome da Equipa:
            @*Html.DisplayNameFor(model => model.Nome)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Data de Fundação:

            @*Html.DisplayNameFor(model => model.DataFundacao)*@
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DataFundacao).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Sede:
            @*Html.DisplayNameFor(model => model.Nacionalidade)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>


        <dt>
            Fundador da Equipa:
            @*Html.DisplayNameFor(model => model.Fundador)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fundador)
        </dd>


        <dt>
            Fotografia da Equipa:
            @*Html.DisplayNameFor(model => model.Logo)*@
        </dt>

        <dd>
            <a href="~/Imagens/@Model.Logo" target="_parent">
                <img src="~/Imagens/@Model.Logo" class="rounded" height="100" width="" />
            </a>
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar Piloto", "Edit", new { id = Model.IdEquipa }) |
    @Html.ActionLink("Eliminar Equipa", "Delete", new { id = Model.IdEquipa }) |
    @Html.ActionLink("Voltar para a lista de Equipas", "Index")
</p>

<div style="clear: left">
    <div class="alert alert-info" role="alert">

        <font style='font-weight:bold;'> Pilotos da Equipa @Html.DisplayFor(model => model.Nome)</font>
    </div>
    @foreach (var pilotos in Model.ListaDePilotos)
    {
        <div class="col-lg-4" style=" text-align: center; padding-bottom:30px;">
            <div>@pilotos.Nome</div>
            <a href="@Url.Action("Details","Pilotos", new { id=pilotos.IdPiloto } )">
                <img src="~/imagens/@pilotos.Fotografia" height="120" width="190" />
            </a>
        </div>

    }
</div>

