@model noticiasAuto.Models.Equipas

@{
    ViewBag.Title = "Edit";
}


@*
    Quando se deseja efetuar o upload de um ficheiro,
    esta instrução é insuficiente
    @using(Html.BeginForm())
    é necessário adicionar-lhe o parâmetro 'enctype = "multipart/form-data" '
*@
@using (Html.BeginForm("Edit",
                      "Equipas",
                      FormMethod.Post,
                      new { enctype = "multipart/form-data" }))
{



    @Html.AntiForgeryToken()






    <div class="form-horizontal">
        <h4>Equipas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdEquipa)


        <div class="form-group">
            <div class="col-md-10">
                Nome:
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Data de Fundação:
                @Html.EditorFor(model => model.DataFundacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataFundacao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
           
            <div class="col-md-10">
                @* Mostrar a imagem associada a equpa *@
                <a href="~/Imagens/@Model.Logo" target="_blank">
                    <img src="~/Imagens/@Model.Logo" height="150" />
                </a>
                @* procurar a nova imagem*@
                <input type="file" name="uploadFoto" style="color:blue;" accept=".jpg" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Fundador:
                @Html.EditorFor(model => model.Fundador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fundador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Sede:
                @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Equipa" class="btn btn-success" />
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

